<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="../assets/angular-asp-core.jpg">
</div>

<h3>This is a sample project to demonstrate a SPA developed in Angular 7 and ASP.NET Core 2.1 Web API. Here are some links to help you start with</h3>
<ul>
  <li>
    To know about Angular 7, please visit <a target="_blank" rel="noopener" href="https://angular.io/">here</a>
  </li>
  <li>
    To know about ASP.NET Core 2.1 Web API, please visit <a target="_blank" rel="noopener" href="https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-web-api?view=aspnetcore-2.1">here</a>
  </li>
</ul>

<h3>This sample will use following commands</h3>
<ul>
  <li>ng build - To build the angular content</li>
  <li>ng build --prod - To build in Production mode</li>
</ul>

<h3>The CI build will contain</h3>
<ul>
  <li>NPM Task - Install the angular CLI</li>
  <li>NPM Task - Install the node modules for the project</li>
  <li>Command Line Task - Build the Angular App</li>
  <li>.NET Core Tool Installer - Install the .NET CLI</li>
  <li>Command Line Task - Publish the Web API</li>
  <li>Azure App Service Manage - Stop the app deployed in Azure</li>
  <li>Azure App Service Deploy - Deploy the app to Azure</li>
  <li>Azure App Service Manage - Start the app deployed in Azure</li>
</ul>
